.calculadora{
    position: absolute;
    background-color: white;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    border-bottom: 10px solid orange;
    border-right: 5px solid orange;
    min-width: 236px;
    min-height: 130px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: black;
    color: white;
    margin: 3px;
    cursor: pointer;
}
.input{
    height: 50px;
    width: 223px;
    margin-bottom: 10px;
    border: 2px solid black;
}
.input{
    font-size: 35px;
}
body{
    background-color: #0e0f19;
}